.ld-button{
    font-family: var(--ld-font-family-base);
    font-size: calc(var(--ld-font-size-base) + 8px);
    
    background-color: var(--ld-color-primary);
    color: white;  
    font-weight: 800;
    padding: 20px;
    border-radius: 50px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.ld-button:hover{
    background-color: var(--ld-color-primary-light);  
    transition: background-color  0.5s;
}

.ld-button.-small{
    font-size: calc(var(--ld-font-size-base) + 4px);
    font-weight: 600;
    padding: 12px 30px;
}